


<div class="settings__back settings__icon icon"><img src="../svg/back.svg" alt=""></div>
<div class="sidebar__title settings__title">Settings</div>
<div class="more settings__more settings__icon icon"><img src="../svg/more.svg" alt="">
    <ul class="more-list popup hide">
        <li class="more-list__logout popup-item">
            <img src="../svg/logout.svg" class="logout__img">
            <div class="more-list__text">Log Out</div>
        </li>
    </ul>
</div>
<div class="settings__info">
    <div class="settings__avatar"><img src="" class="avatar avatar_big settings__avatar_img"/></div>
    <div class="settings__name"></div>
    <div class="settings__phone"></div>
</div>
<ul class="settings-list">
    <li class="settings-list__item settings-list__edit">
        <img src="../svg/edit.svg" alt="">
        <div class="settings-list__text">Edit profile</div>
    </li>
    <li class="settings-list__item settings-list__general-settings">
        <img src="../svg/settings.svg" alt="">
        <div class="settings-list__text">General settings</div>
    </li>
    <li class="settings-list__item settings-list__notifications">
        <img src="../svg/unmute.svg" alt="">
        <div class="settings-list__text">Notifications</div>
    </li>
    <li class="settings-list__item settings-list__privacy">
        <img src="../svg/lock.svg" alt="">
        <div class="settings-list__text">Privacy and security</div>
    </li>
    <li class="settings-list__item settings-list__language">
        <img src="../svg/language.svg" alt="">
        <div class="settings-list__text">Language</div>
    </li>
</ul>
