<nav type="checkbox" id="menu__checkbox" class="menu__checkbox">
    <img class="menu__icon" src="svg/menu_svg.svg"></img>
    <ul class="menu-list hidden popup">
        <li class="menu-list__new-group popup-item">
            <img src="./svg/group_svg.svg" alt="">
            <div class="menu-list__text">New group</div>
        </li>
        <li class="menu-list__contacts popup-item">
            <img src="./svg/user_svg.svg" alt="">
            <div class="menu-list__text">Contacts</div>
        </li>
        <li class="menu-list__archived popup-item">
            <img src="./svg/archive_svg.svg" alt="">
            <div class="menu-list__text">Archived</div>
        </li>
        <li class="menu-list__saved popup-item">
            <img src="./svg/savedmessages_svg.svg" alt="">
            <div class="menu-list__text">Saved</div>
        </li>
        <li class="menu-list__settings popup-item">
            <img src="./svg/settings_svg.svg" alt="">
            <div class="menu-list__text">Setting</div>
        </li>
        <li class="menu-list__help popup-item">
            <img src="./svg/help_svg.svg" alt="">
            <div class="menu-list__text">Help</div>
        </li>
    </ul>
</nav>