.menu {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 40px;
  margin-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  transition: 0.4s;

  &__search-wrapper {
    height: 90%;
    width: 95%;
    position: relative;
    align-items: center;
    display: flex;
  }
  &__search-icon {
    height: 14px;
    width: 14px;
    position: absolute;
    fill: #c5cacc;
    bottom: 15px;
    left: 6px;
  }

  input[type="search"] {
    font-size: 14px;
    border-radius: 24px;
    width: 100%;
    align-self: center;
    padding: 10px 10px 10px 30px;
    border: none;
    background: var(--light-gray);

    &::placeholder {
      color: #c5cacc;
    }
    &:focus {
      transition: 0.4s;
      box-shadow: 0 0 0 1.5pt var(--primary);
      outline: none;
    }
  }

  input[type="search"]:focus + .menu__search-icon {
    fill: var(--primary);
  }

  &__checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    width: 40px;
    height: 40px;
    justify-self: center;
    cursor: pointer;
    transition: 0.4s;

    // &:hover {
    //   background:var(--light-gray);
    //   border-radius: 50%;
    // }
  }

  .menu-list {
    transition: 0.4s;
    top: 40px;
    left: 10px;
    max-width: 200px;
    overflow: hidden;
    box-shadow: 1px 5px 14px -7px var(--shadow);
    transition: 0.4s;

    &_hidden {
      opacity: 0;
      z-index: -1;
    }

    & li {
      justify-content: flex-start;
      width: 200px;
      img {
        width: 24px;
        height: 24px;
        padding-right: 25px;
      }
    }
  }

  &__icon {
    margin-left: -2px;
    margin-top: -2px;
    width: 50%;
    height: 50%;
  }
}
