$right-background: #e6ebee;
var(--secondary): #777b7f;
$hover-color: #f1f3f4;

#left {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.chat-page {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  #user-dialogs {
    overflow: auto;
  }
  min-height: 0;
}

#right {
  border-left: 1px solid #e6ebee;
  width: 75vw;
  min-width: 600px;
  height: 100vh;
  background-color: $right-background;
  position: relative;
  display: flex;
  justify-content: center;
}
