$spinner-color: rgba(79, 164, 246, 1);
$right-background: #e6ebee;
$secondary: #777b7f;
$hover-color: #f1f3f4;

#left {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 260px;
}
.dialog {
  max-height: 10vh;
  min-height: 50px;
  display: grid;
  grid-template-columns: 50px 1fr 60px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0 8px;
  border-radius: 8px;
  --ripple-background: black;
  --ripple-opacity: 0.08;
  --ripple-duration: 600ms;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }

  &__avatar-wrapper {
    justify-self: center;
    grid-column: 1;
    grid-row: span 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    &_online {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: lawngreen;
        border: 1px solid white;
        right: 2px;
        bottom: 0;
      }
    }
  }

  &__name {
    grid-column: 2;
    grid-row: 1;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__short-msg {
    grid-column: 2/3;
    grid-row: 2;
    color: $secondary;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__meta {
    padding: 0 8px 0 4px;
    justify-self: right;
    color: $secondary;
    font-size: 12px;
  }
}
.chat-page {
  display: flex;
}

#right {
  min-width: 35%;
  width: 80%;
  height: 100vh;
  background-color: $right-background;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-bottom-color: $spinner-color;
  border-right-color: $spinner-color;
  border-top-color: $spinner-color;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
