#left {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.loading {
  justify-content: center;
  align-items: center;
}
.dialog {
  height: 6vh;
  display: flex;
  align-items: center;
  padding: 0 16px;

  &:hover {
    background-color: #f1f3f4;
    cursor: pointer;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__avatar-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 10px;
  }

  &__avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &__name {
  }

  &__short-msg {
  }

  &__meta {
    margin-left: auto;
  }
}
.chat-page {
  display: flex;
}

#right {
  width: 80%;
  height: 100vh;
  background-color: #e6ebee;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-bottom-color: rgba(79, 164, 246, 1);
  border-right-color: rgba(79, 164, 246, 1);
  border-top-color: rgba(79, 164, 246, 1);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
