<div class="right-sidebar__back right-sidebar__icon icon"><img src="./svg/close.svg" alt=""></div>
<div class="sidebar__title right-sidebar__title">Info</div>
<!--TODO: По нажатию на more показывать edit панель? -->
<div class="more right-sidebar__more right-sidebar__icon icon"><img src="./svg/more.svg" alt=""></div>
<div class="right-sidebar__info">
    <div class="right-sidebar__avatar"><img src="" class="right-sidebar__avatar_img avatar avatar_big"/></div>
    <div class="right-sidebar__name"></div>
    <div class="right-sidebar__status"></div>
</div>
<ul class="right-sidebar__attributes attributes" id="attributes">
</ul>
<div class="right-sidebar__tabs tabs">
</div>
<div class="right-sidebar__general-materials">
    <div class="right-sidebar__general-materials__members hide"></div>
    <div class="right-sidebar__general-materials__media hide"></div>
    <div class="right-sidebar__general-materials__docs hide"></div>
    <div class="right-sidebar__general-materials__links hide"></div>
    <div class="right-sidebar__general-materials__audio hide"></div>
</div>
