<div class="right-sidebar__back right-sidebar__icon icon"><img src="./svg/close.svg" alt=""></div>
<div class="sidebar__title right-sidebar__title">Info</div>
<!--TODO: По нажатию на more показывать edit панель? -->
<div class="more right-sidebar__more right-sidebar__icon icon"><img src="./svg/more.svg" alt=""></div>
<div class="right-sidebar__info">
    <div class="right-sidebar__avatar"><img src="" class="right-sidebar__avatar_img avatar avatar_big"/></div>
    <div class="right-sidebar__name"></div>
    <div class="right-sidebar__phone"></div>
</div>
<ul class="right-sidebar__attributes attributes">
    <li class="attributes__item item attributes__info">
        <img class="item__icon info__icon" src="./svg/info.svg" alt="">
        <div class="item__text text info__text">
            <div class="text__info text__value"></div>
            <div class="text__label info__label">Bio</div>
        </div>
    </li>
    <li class="attributes__item item attributes__username">
        <img class="item__icon username__icon" src="./svg/username.svg" alt="">
        <div class="item__text text username__text">
            <div class="text__username text__value"></div>
            <div class="text__label username__label">Username</div>
        </div>
    </li>
    <li class="attributes__item item attributes__phone">
        <img class="item__icon phone__icon" src="./svg/phone.svg" alt="">
        <div class="item__text text phone__text">
            <div class="text__phone text__value"></div>
            <div class="text__label phone__label">Phone</div>
        </div>
    </li>
    <li class="attributes__item item attributes__notifications">
        <!-- TODO: сделать src, icon, label зависимым от выбранного режима -->
        <img class="item__icon notifications__icon" src="./svg/checkboxon.svg" alt="">
        <div class="item__text text notifications__text">
            <div class="text__notifications text__value">Notifications</div>
            <div class="text__label notifications__label"></div>
        </div>
    </li>
</ul>
<div class="right-sidebar__tabs tabs">
    <div class="tabs__tab tab tab__media media tab_active">
        <div class="tab__name media__name">Media</div>
    </div>
    <div class="tabs__tab tab tab__docs docs">
        <div class="tab__name docs__name">Docs</div>
    </div>
    <div class="tabs__tab tab tab__links links">
        <div class="tab__name links__name">Links</div>
    </div>
    <div class="tabs__tab tab tab__audio audio">
        <div class="tab__name audio__name">Audio</div>
    </div>
    <div class="tabs__underline underline"></div>
    <div class="tabs__gray-line gray-line"></div>
</div>
<div class="right-sidebar__general-materials"></div>
