.message-input {
  position: fixed;//absolute?
  bottom: 20px;
  right: 100px;
  display: grid;
  grid-template-columns: 90% 10%;
  column-gap: 10px;
  width: 570px;
}

.text-input {
  position: relative;//for xvostik
  display: grid;
  grid-template-columns: 10% auto 10%;
  place-items: center;
  background-color: var(--white);
  border-radius: 0.5em 0.5em 0 0.5em;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 300px;

  &::-webkit-scrollbar {
    position: absolute;
    right: 200px;
    transform: translateX(-20px);
    margin-right: 20px;
    padding-right: 20px;
  }

  // &:after {
  //   content: " ";
  //   position: absolute;
  //   right: -15px;
  //   border: 20px solid transparent;
  //   border-left-color: var(--white);
  //   border-right: 0;
  //   border-bottom: 0;
  //   bottom: 0;
  // }

  &__input {
    border: 0 solid transparent;
    width: 400px;
    min-height: 15px;
    outline: none;
    overflow: hidden;
    // white-space: normal;

    &::before {//copypaste from web telega
      content: attr(placeholder);
      color: #9aa2ab;
      display: block;
      margin-top: -1px;
      margin-left: 1px;
      pointer-events: none;
    }
  }
}
.attach-media {

  &__popup {
    right: 55px;
    bottom: 65px;
    max-width: 200px;

    .popup-item {
      cursor: pointer;
      justify-content: flex-start;
      width: 200px;
    }

  }

  &__img {
    width: 24px;
    height: 24px;
    padding-right: 25px;
  }

}

.voice-message {
  cursor: pointer;
  background-color: white;
  padding: 16px !important;
  border-radius: 2.5em;
  fill: var(--white);

  & svg {
    opacity: 1 !important;
  }
}

$send-button-size: 26px;

.microphone,
.send-arrow {
  width: $send-button-size;
  height: $send-button-size;
}

.microphone {
  background: url("./microphone.svg") no-repeat;
}

.send-arrow {
  background: url("./sendArrow.svg") no-repeat;
}

.svg {
  align-self: end;
  svg {
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    position: fixed;
    bottom: 35px;
    transform: translateX(-10px);
    &.active {
      fill: var(--primary);
      opacity: 0.7;
    }
  }
}
