<div class="register-page">
    <div class="register-page__icon">
        <img src="../../static/images/cameraicon.svg" alt="">
    </div>
    <h1 class="register-page__title">Your Name</h1>
    <h3 class="register-page__description">Enter your name and add<br> a profile picture</h3>
    <div class="input-group">
        <input type="text" name="name" id="name" class="register-page__name input-field" required>
        <label>Name</label>
    </div>
    <div class="input-group">
        <input type="text" name="surname" id="surname" class="register-page__surname input-field" required>
        <label>Last Name (Optional)</label>
    </div>
    <button class="register-page__submit submit">START MESSAGING</button>
</div>