.chat-message {
  max-width: 500px;
  margin: 5px;
}

.chat-message_in {
  background: #c5cacc;
}

.chat-message_out {
  background: #73cd53;
}

.chat-message_post_out_last {

}

.chat-message_post_in_last {

}

.chat-message_full-media {

}

.chat-message__photo-media {

}

.chat-message_media-unsupported {

}

.chat-message_emoji {

}

.message {

}
