.chat-message {
  max-width: 390px;
  margin: 5px;

  overflow: hidden;

  &_sticker {
    background-color: transparent;
    border-radius: 0;
  }

  &__reply {
    background-color: white;
    padding-left: 10px;

    & + .message {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

}

.chat-message_in {
  background: #c5cacc;
}

.chat-message_out {
  background: #73cd53;
}

.chat-message_post_out_last {

}

.chat-message_post_in_last {

}

.chat-message_full-media {

}

.chat-message__photo-media {
  display: inline-block;

  padding-bottom: 0;
  padding-top: 0;

  border-radius: 15px;
  overflow: hidden;
}

.chat-message_media-unsupported {

}

.chat-message_emoji {

}

.chat-message_animated-sticker {
  width: 200px;
  height: 200px;
}

.message {
  white-space: pre-wrap;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: white;

  border-radius: 15px;
}
