chat-main {
  align-self: center;
  align-items: center;
  .all-messages {
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.date-bubble {
  font-size: 0.9em;
  padding: 3px 10px 3px 10px;
  align-self: center;
  background-color: #999999;
  border-radius: 0.7em;
  text-align: center;
  opacity: 0.7;
  color: #ffffff;
}
