$status-size: 15px;

.chat-messages {
  margin-top: 60px;
  overflow: auto;
  display: flex;
  // flex-direction: column-reverse;
  width: 600px;
  height: 85vh;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
