<div class="login-password">
    <div class="login-password__icon">
        <picture class="cd-tgsticker">

        </picture>
    </div>
    <h1 class="login-password__title">Enter a password</h1>
    <h3 class="login-password__description">Your account is protected with an additional password.</h3>
    <div class="input-group">
        <input type="text" name="code" id="code" class="login-password__password input-field" required>
        <label>Password</label>
        <img src="../../static/images/eye1_svg.svg" class="login-password__eye">
    </div>
    <button class="login-password__submit submit">NEXT</button>
</div>