.login-form {
  display: flex;

  max-width: 370px;

  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-top: 186px;

  &__submit {
    margin-top: 24px;
  }

  &__popup {
    position: absolute;
    list-style: none;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    z-index: 10;

    max-width: 360px;
    background: white;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    max-height: 300px;
    overflow: scroll;
    overflow-y: -moz-scrollbars-none;
    -ms-overflow-style: none;

    box-shadow: -2px 10px 26px -7px rgba(0, 0, 0, 0.75);

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    & img {
      height: 40px;
    }

    & li {
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;

      height: 50px;
      min-height: 50px;
      width: 360px;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align: middle;

      &:hover {
        background: rgb(244, 244, 245);
      }

      & span {
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__icon {
    width: 160px;
    height: 160px;
  }

  &__title {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;

    margin-top: 45px;

    font-size: 30px;
    font-weight: normal;
  }

  &__description {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 0;

    max-width: 230px;

    color: rgb(106, 108, 111);

    font-size: 0.95em;
    font-weight: normal;
    line-height: 1.4em;

    text-align: center;
  }

  &__country {
    margin-top: 50px;
  }

  &__phone {
    margin-top: 22px;
  }

  &__keep {
    display: flex;
    margin-top: 26px;
    width: 360px;
    padding-left: 32px;
    position: relative;

    overflow: hidden;

    & input {
      -webkit-appearance: none;
      background-color: white;
      border: 1px solid rgba(218, 220, 224, 0.75);
      padding: 8px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      top: -3px;

      &:active,
      &:checked:active,
      &:focus {
        outline: none;
      }

      &:checked {
        background: rgba(79, 164, 246, 1);
      }

      &:checked:before {
        content: "";
        border: 2px solid white;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 6px solid white;
        border-bottom: 10px solid white;

        transform: rotate(45deg);
      }

      &:checked:after {
        content: "";
        border: 2px solid rgba(79, 164, 246, 1);
        position: absolute;
        top: 0;
        left: 0;
        border-left: 3px solid rgba(79, 164, 246, 1);
        border-bottom: 7px solid rgba(79, 164, 246, 1);

        transform: rotate(45deg);
      }
    }

    & label {
      display: inline-block;
      margin-left: 32px;
    }
  }
}

.input-field {
  box-sizing: border-box;
  width: 360px;
  height: 55px;

  user-select: none;

  border-radius: 10px;
  border: 2px solid rgba(218, 220, 224, 0.75);

  font-size: 18px;
  line-height: 55px;

  padding-left: 14px;

  &:focus {
    outline: none;

    border: 2px solid rgba(79, 164, 246, 1);
    caret-color: rgba(79, 164, 246, 1);
  }
}

.input-group {
  position: relative;

  & label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 14px;
    bottom: 18px;
    transition: 0.2s ease all;
  }

  & input:focus ~ label,
  & input:valid ~ label {
    bottom: 45px;
    font-size: 14px;

    background: white;
    padding: 2px;
  }

  &_select {
    &::after {
      content: "keyboard_arrow_down";
      display: inline-block;
      position: absolute;
      font-family: "Material Icons Round";
      bottom: 11px;
      right: 10px;
      font-size: 33px;

      color: rgba(141, 150, 156, 1);
    }

    & input:focus ~ &::after {
      color: rgba(79, 164, 246, 1);
    }
  }
}

.popup-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & * {
    display: flex;
  }
}

.submit {
  width: 360px;
  height: 64px;

  background: rgb(79, 164, 246);

  border: 0;
  border-radius: 10px;

  color: white;
}
