$spinner-color: rgba(79, 164, 246, 1);
$hover-color: #f1f3f4;

* {
  margin: 0;
  padding: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-bottom-color: $spinner-color;
    border-right-color: $spinner-color;
    border-top-color: $spinner-color;
    animation: spin 1s ease-in-out infinite;
  }
}

ul {
  list-style: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: $hover-color;
    border-radius: 50%;
    cursor: pointer;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}